.btn {
  @apply font-bold py-2 px-4 rounded-b-md;
}
.btn-blue {
  @apply bg-blue-800 text-white;
}
.btn:hover {
  @apply bg-blue-300;
}
.quiz-header {
  @apply bg-blue-800 text-white font-bold text-center py-2 px-4;
}
