version: "3.8"

services:
  bluestar:
    build:
      context: .
      dockerfile: Dockerfile-dev
      args:
        BASE_URL: "http://localhost:3001"
    image: ghcr.io/rasliche/bluestar-nuxt-dev:1.0.0
    restart: always
    ports:
      - "3000:3000"
    networks:
      - bluestar-net
    restart: unless-stopped
    volumes:
      - type: bind
        source: .
        target: /usr/src/app
    environment:
      BASE_URL: "http://localhost:3001"

  bluestar_server:
    build: ./server
    image: ghcr.io/rasliche/bluestar-nuxt-server:1.0.0
    restart: always
    ports:
      - "3001:3001"
    command:
      "npm start"
    networks:
      - bluestar-net
    environment:
      # Change username and password to db user and password
      MONGO_URI: "mongodb://bluestar:example@mongo_db:27017/bluestar"
      CLIENT_URL: "http://localhost:3000"
      ADMIN_REGISTER_PASSWORD: "bluestar"
    restart: unless-stopped
    depends_on:
      - mongo_db
    volumes:
      - type: bind
        source: ./server
        target: /usr/src/app
    command: ./node_modules/.bin/nodemon index.js

  mongo_db:
    image: mongo
    restart: always
    environment:
      # TODO: Use secrets instead of this...
      # CHANGE THESE!!!
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
      MONGO_INITDB_DATABASE: bluestar
      MONGO_INITDB_USERNAME: bluestar
      MONGO_INITDB_PASSWORD: example
    networks:
      - bluestar-net
    ports:
      - "27017:27017"
    volumes:
      - ./docker-mongo-init.sh:/docker-entrypoint-initdb.d/init-mongo.sh

networks:
  bluestar-net:
